/*

0 - 600px     :       Phone
600 - 900px   :       Tablet portrait
900 - 1200px  :       Tablet landscape

1200 - 1800px :       Deskop - normal style apply

> 1800px      :       Big deskop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-deskop

1em = 16px
*/
@media (max-width: 1270px) {
  .text--phone {
    font-size: 1.5rem !important; } }

@media (max-width: 1199px) {
  .marj {
    top: 110%;
    left: 67.5%; }
  .marj2 {
    top: 110%;
    left: 15% !important; } }

@media (max-width: 1080px) {
  .nav-link:not(:last-child) {
    margin-right: 5rem !important; } }

@media (max-width: 992px) {
  .big-screen-only {
    display: none; }
  .icons-social,
  .text--phone {
    display: none !important; }
  .nav-link:not(:last-child) {
    margin-right: 0 !important; }
  .title {
    flex-direction: column; }
  .header {
    justify-content: center !important; }
  .nodisplay {
    display: none !important; }
  .icons-social-toggle {
    display: flex;
    justify-content: center; }
    .icons-social-toggle:not(:last-child) {
      margin: 20rem; }
  .hero-box__text {
    top: 35% !important;
    left: 15% !important;
    width: 70% !important; }
  .grid--10x12 {
    height: 120rem !important;
    grid-template-rows: repeat(15, 1fr) !important;
    grid-template-columns: repeat(12, 1fr) !important;
    margin-bottom: 1rem; }
  .grid__item--3,
  .grid__item--6a {
    display: none; }
  .grid__item--1 {
    grid-area: 1/1/4/7 !important; }
  .grid__item--2 {
    grid-area: 1/7/4/-1 !important; }
  .grid__item--4 {
    grid-area: 7/7/11/-1 !important; }
  .grid__item--5 {
    grid-area: 4/1/7/6 !important; }
  .grid__item--6 {
    grid-area: 4/6/7/-1 !important;
    background-size: cover !important; }
  .grid__item--7 {
    grid-area: 7/1/11/7 !important; }
  .grid__item--8 {
    grid-area: 11/1/-1/-1 !important; } }

@media (max-width: 767px) {
  .marj {
    top: 110% !important;
    left: 67.5% !important; }
  .marj2 {
    top: 110% !important;
    left: 7% !important; }
  .grid__item--1 {
    grid-area: 1/1/4/6 !important; }
  .grid__item--2 {
    grid-area: 1/6/4/-1 !important; }
  .grid__item--4 {
    grid-area: 7/9/11/-1 !important; }
  .grid__item--7 {
    grid-area: 7/1/11/9 !important; } }

@media (max-width: 600px) {
  .grid__item--1 {
    grid-area: 1/1/4/7 !important; }
  .grid__item--2 {
    grid-area: 1/7/4/-1 !important; }
  .grid__item--4 {
    grid-area: 7/7/11/-1 !important; }
  .grid__item--7 {
    grid-area: 7/1/11/7 !important; }
  .about__container {
    width: 85% !important;
    padding: 2rem !important;
    margin: 3rem 0 !important; } }

@media (max-width: 460px) {
  .grid__item--4 {
    grid-area: 7/9/11/-1 !important; }
  .grid__item--7 {
    grid-area: 7/1/11/9 !important; } }

@media (max-width: 371px) {
  .grid__item--1 {
    grid-area: 1/1/4/6 !important; }
  .grid__item--2 {
    grid-area: 1/6/4/-1 !important; }
  .grid__item--4 {
    display: none; }
  .grid__item--7 {
    grid-area: 7/1/12/-1 !important; }
  .grid__item--8 {
    grid-area: 12/1/-1/-1 !important; }
    .grid__item--8-text {
      padding: auto 1rem !important; } }

@media (min-width: 992px) {
  .text--phone-title,
  .nav-link-title,
  .icons-social-toggle {
    display: none !important; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 55%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../img/background-big.jpg);
  background-size: auto; }

a,
a:link,
a:visited {
  text-decoration: none !important;
  color: #313131; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #f7f7f7; }

.heading-primary {
  color: #6887a8;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-align: center;
  width: 100%;
  padding: 0; }
  .heading-primary--and {
    color: #edd65f; }
  @media (max-width: 56.25em) {
    .heading-primary {
      padding-bottom: 2rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary {
  color: #313131;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  text-align: center;
  width: 100%;
  padding: 0; }

.heading-tertiary {
  color: #313131;
  font-family: "Cinzel", serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.6rem;
  text-align: center;
  width: 100%;
  padding: 4rem 0 1rem 0; }

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: black; }
  .text--phone {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: max-content; }
  .text--phone-title {
    font-size: 2rem;
    width: 20rem; }
  .text--faded {
    color: #a1b1c2;
    font-weight: 600;
    letter-spacing: 5px; }
  .text--sml {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem; }

.link-title {
  font-family: "Cinzel", serif;
  font-size: 2.6rem;
  letter-spacing: 5px;
  font-weight: 600;
  color: white !important;
  text-transform: uppercase;
  height: 100% !important;
  width: 100% !important;
  z-index: 99999; }
  @media (max-width: 37.5em) {
    .link-title {
      font-size: 2.4rem; } }

.small-title {
  text-align: center;
  margin: 4rem auto 2rem auto; }

.heading-pop {
  color: #6887a8;
  font-size: 2.8rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: .5rem;
  padding-bottom: 2rem;
  font-weight: bold; }

.u-margin-right-1rem {
  margin-right: 1rem; }

.u-margin-bottom-8rem {
  margin-bottom: 8rem; }

.u-margin-bottom-4rem {
  margin-bottom: 4rem; }

.u-margin-bottom-2rem {
  margin-bottom: 2rem; }

.u-margin-top-n-bottom-3rem {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.u-padding-top-n-bottom-2rem {
  padding: 2rem 0; }

.u-padding-top-n-bottom-4rem {
  padding: 4rem 0; }

.u-padding-top-4rem {
  padding-top: 4rem; }

.bg-red {
  background-color: orangered;
  color: white !important; }

.style {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, transparent, #bababa, transparent);
  background-image: -moz-linear-gradient(left, transparent, #bababa, transparent);
  background-image: -ms-linear-gradient(left, transparent, #bababa, transparent);
  background-image: -o-linear-gradient(left, transparent, #bababa, transparent); }
  .style--half {
    width: 50%;
    margin: auto; }
  .style--70 {
    width: 70%;
    margin: auto; }
  .style--about {
    background-image: -webkit-linear-gradient(left, transparent, #bababa, transparent);
    background-image: -moz-linear-gradient(left, transparent, #bababa, transparent);
    background-image: -ms-linear-gradient(left, transparent, #bababa, transparent);
    background-image: -o-linear-gradient(left, transparent, #bababa, transparent); }

.style-blue {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, #6887a8, transparent);
  background-image: -moz-linear-gradient(left, transparent, #6887a8, transparent);
  background-image: -ms-linear-gradient(left, transparent, #6887a8, transparent);
  background-image: -o-linear-gradient(left, transparent, #6887a8, transparent); }

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem !important;
  height: 5rem !important;
  width: 20rem !important; }

.btn-transparent {
  background-color: transparent;
  border-color: #a1b1c2 !important;
  border-radius: 2px;
  margin: 2rem 0;
  overflow: hidden;
  position: relative; }
  .btn-transparent span {
    z-index: 20; }
  .btn-transparent:before {
    background: #bacee3;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px; }

.btn-transparent:hover:before {
  left: 120% !important;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) !important; }

.btn--text:hover {
  color: white !important; }

.tile {
  height: 100%; }

.tile:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  z-index: -99;
  transition: all .8s; }

.tile,
.nav-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .tile::before,
  .nav-item::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 10%;
    background: transparent;
    height: 80%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .tile:hover::before,
  .nav-item:hover::before {
    left: 5%;
    right: 5%; }
  .tile::after,
  .nav-item::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 90%;
    background: transparent;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scaleY(0);
    transform-origin: center;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .tile:hover::after,
  .nav-item:hover::after {
    transform: scaleY(1); }

.nav-item {
  padding: 0 !important; }
  .nav-item::before {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    bottom: 0;
    height: 100%; }
    @media (max-width: 75em) {
      .nav-item::before {
        display: none; } }
  .nav-item:hover::before {
    left: 0px !important;
    right: 0px !important; }
  .nav-item::after {
    border-left: 1px solid black;
    border-right: 1px solid black;
    top: 0%;
    left: 1px;
    height: 100%;
    width: 98.5%; }
    @media (max-width: 75em) {
      .nav-item::after {
        display: none; } }
  .nav-item:hover::after {
    transform: scaleY(1); }

.icons-social {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .icons-social-toggle {
    display: flex;
    justify-content: space-around;
    width: 15rem; }

.icon--section {
  color: #6887a8; }
  .icon--section:hover {
    transform: scale(1.1);
    transition: all .3s; }
  .icon--section:active {
    transform: scale(0.9);
    transition: all .3s; }

.icon--faded {
  color: #a1b1c2; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.7), rgba(247, 247, 247, 0.7)), url(../img/background-big.jpg);
    background-size: auto;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .popup__content--video {
      height: 60rem !important;
      margin-top: 5rem; }
      @media (max-width: 37.5em) {
        .popup__content--video {
          height: 40rem !important; } }
    .popup__content--text {
      margin-top: 5rem;
      padding: 2rem 8rem;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .popup__content--text h2 {
        font-size: 3rem; }
      @media (max-width: 75em) {
        .popup__content--text {
          padding: 2rem 4rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    position: relative;
    margin: auto;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #6887a8;
    text-decoration: none;
    font-size: 10rem;
    transition: all .2s;
    align-self: flex-end !important;
    z-index: 10;
    line-height: 5rem; }
  .popup__close:hover {
    color: #edd65f; }

.carousel-item img {
  height: 100%; }

.slideshow-containter {
  position: relative;
  height: 100%; }

.MySlides {
  display: none;
  height: 100%;
  width: 100%;
  margin: auto; }
  .MySlides__img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center; }
  .MySlides__monday {
    background-image: url(../img/monday.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 2rem;
    margin: auto; }
  .MySlides__tuesday {
    background-image: url(../img/tuesday_pizza.jpg); }
  .MySlides__wednesday {
    background-image: url(../img/wednesday.jpg); }
  .MySlides__friday {
    background-image: url(../img/friday.jpg); }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s; }

@-webkit-keyframes fade {
  from {
    opacity: .8; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .8; }
  to {
    opacity: 1; } }

.social__icons a:not(:last-child) {
  margin-right: 7rem; }

.about {
  background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/pub.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: min-content;
  margin-bottom: 5rem;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .about__container {
    background-color: white;
    opacity: 0.8;
    width: 70%;
    height: min-content;
    text-align: center;
    padding: 5rem;
    margin: 5rem 0; }

#more {
  display: none; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  text-align: center; }

.copy {
  width: 100%;
  font-size: 12px;
  font-family: "Montserrat", sans-serif; }

.copyright {
  text-transform: uppercase; }
  .copyright a:link,
  .copyright a:visited {
    color: black; }

.powered {
  color: #6887a8; }

.content {
  width: 142rem;
  flex-direction: column;
  justify-content: center !important;
  padding: 0 !important; }

.grid--10x12 {
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr); }

.grid {
  display: grid;
  grid-gap: 1rem;
  height: 100rem;
  margin-bottom: 5rem; }
  .grid__item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center; }
    .grid__item--1 {
      grid-area: 1/1/4/5;
      background-image: linear-gradient(rgba(104, 117, 130, 0.2), rgba(104, 117, 130, 0.2)), url(../img/img1.jpg); }
    .grid__item--2 {
      grid-area: 1/5/4/9;
      background-image: url(../img/img2.jpg);
      background-size: 100% 100% !important; }
    .grid__item--3 {
      grid-area: 1/9/3/-1;
      background-image: url(../img/img3.jpg); }
    .grid__item--4 {
      grid-area: 4/1/7/4;
      background-image: url(../img/img4.jpg); }
    .grid__item--5 {
      grid-area: 4/4/7/9;
      background-image: url(../img/img5.jpg); }
    .grid__item--6 {
      grid-area: 3/9/7/-1;
      background-image: url(../img/img6.jpg);
      background-size: 100% 100%; }
    .grid__item--7 {
      grid-area: 7/1/11/7; }
    .grid__item--8 {
      grid-area: 7/7/11/-1;
      height: 100%;
      background-image: linear-gradient(#edd65f, #edd65f);
      border-radius: 3px;
      box-shadow: 1px 1px 15px #313131; }
      .grid__item--8-text {
        text-align: center;
        height: 80%;
        margin-top: 10%;
        padding: 0 2rem; }
    .grid__item--9 {
      grid-area: 1/1/5/7;
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/newsletter.jpg); }
    .grid__item--10 {
      grid-area: 1/7/5/10;
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/gift-card.jpg); }
    .grid__item--11 {
      grid-area: 1/10/5/-1;
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/loyal.jpg); }

.grid-menus {
  height: max-content;
  width: 100% !important;
  margin-top: 10rem;
  padding: 0 !important;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30rem, 30rem));
  grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
  grid-gap: 1rem;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .grid-menus {
      grid-template-rows: repeat(auto-fit, minmax(25rem, 25rem)) !important;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem)) !important; } }
  @media (max-width: 37.5em) {
    .grid-menus {
      grid-template-rows: repeat(auto-fit, minmax(30rem, 30rem)) !important;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 35rem)) !important; } }
  .grid-menus__item {
    height: 30rem;
    width: 35rem;
    min-width: none;
    background-size: 100% 100%;
    background-position: center; }
    @media (max-width: 56.25em) {
      .grid-menus__item {
        height: 25rem;
        width: 30rem; } }
    @media (max-width: 37.5em) {
      .grid-menus__item {
        height: 30rem;
        width: 35rem; } }
    .grid-menus__item--1 {
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/drinks.jpg); }
    .grid-menus__item--2 {
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/breakfast.jpg); }
    .grid-menus__item--3 {
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/food.jpg); }
    .grid-menus__item--4 {
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/kids.jpg); }
    .grid-menus__item--5 {
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/dairy.jpg); }
    .grid-menus__item--6 {
      background-image: linear-gradient(rgba(4, 34, 95, 0.3), rgba(4, 34, 95, 0.5), rgba(4, 34, 95, 0.3)), url(../img/gluten.jpg); }

@media (max-width: 471px) {
  .grid-menus {
    grid-template-rows: repeat(auto-fit, minmax(30rem, 35rem)) !important;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 45rem)) !important; }
    .grid-menus__item {
      height: 35rem;
      width: 45rem; } }

.header {
  padding: 3.5rem 3.5rem 1.5rem 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title--phone-n-order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-box {
  width: 100% !important;
  height: 70rem !important;
  display: flex;
  justify-content: center;
  position: relative; }
  .hero-box__pic {
    height: 70rem !important;
    width: 100% !important; }
  .hero-box__text {
    position: absolute;
    top: 55%;
    left: 12%;
    background-image: linear-gradient(to right bottom, rgba(237, 214, 95, 0.8), rgba(237, 214, 95, 0.8));
    width: 60%;
    height: min-content;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    box-shadow: 1px 2px 15px black; }
    .hero-box__text--content {
      padding: 1rem 2rem; }

.address {
  text-align: center;
  line-height: 2; }

@media (max-width: 56.25em) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 25px !important;
    height: 25px !important; } }

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative; }
  @media (max-width: 75em) {
    .info {
      flex-direction: column;
      align-items: center;
      justify-content: space-between; } }
  .info__div {
    height: min-content;
    width: 35rem;
    text-align: center; }
    @media (max-width: 75em) {
      .info__div {
        width: 80% !important; } }
  @media (max-width: 75em) {
    .info__div:not(:last-child) {
      margin-bottom: 10rem !important; } }

.v-line {
  height: 40rem;
  width: 3px;
  background-image: -webkit-linear-gradient(bottom, #f0f0f0, #bababa, #f0f0f0);
  background-image: -moz-linear-gradient(bottom, #f0f0f0, #bababa, #f0f0f0);
  background-image: -ms-linear-gradient(bottom, #f0f0f0, #bababa, #f0f0f0);
  background-image: -o-linear-gradient(bottom, #f0f0f0, #bababa, #f0f0f0);
  margin: 1rem 4rem;
  align-self: center; }
  @media (max-width: 75em) {
    .v-line {
      display: none !important; } }

table {
  width: 100%; }
  @media (max-width: 75em) {
    table {
      width: 100% !important; } }

tr {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 75em) {
    tr {
      width: 100%;
      justify-content: space-around !important; } }

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500; }
  .nav-link-title {
    width: 20rem;
    text-align: center; }

.venues {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media (max-width: 75em) {
    .venues {
      display: grid;
      width: min-content;
      height: min-content;
      grid-template-rows: repeat(4fr);
      grid-template-columns: 1fr;
      justify-items: center !important;
      grid-gap: 3rem; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 26rem;
  width: 26rem; }
  .card__side {
    height: 26rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-size: cover;
    border-radius: 50%; }
    .card__side--front {
      background-color: white;
      padding: 3rem; }
      .card__side--front--axe {
        border: 1rem solid #a1b1c2; }
      .card__side--front--white {
        border: 1rem solid #edd65f; }
      .card__side--front--duke {
        border: 1rem solid #a1b1c2; }
      .card__side--front--swan {
        border: 1rem solid #edd65f; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-axe {
        background-image: linear-gradient(to right bottom, #bacee3, #6887a8); }
      .card__side--back-white {
        background-image: linear-gradient(to right bottom, #f5e590, #ad9415); }
      .card__side--back-duke {
        background-image: linear-gradient(to right bottom, #bacee3, #6887a8); }
      .card__side--back-swan {
        background-image: linear-gradient(to right bottom, #f5e590, #ad9415); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: 100% 100%;
    margin: 0 auto;
    height: 100%;
    width: 100%; }
    .card__picture--axe {
      background-image: url(../img/axe_logo.png); }
    .card__picture--white {
      background-image: url(../img/wh_logo.png); }
    .card__picture--duke {
      background-image: url(../img/duke_logo.png); }
    .card__picture--swan {
      background-image: url(../img/swan_logo.png); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900%;
    text-align: center; }
  .card__address {
    text-align: center;
    font-size: 1.4rem;
    color: black;
    font-family: "Montserrat", sans-serif; }
  .card__icon {
    padding-bottom: 2rem;
    transition: all 0.4s ease; }
    .card__icon:hover {
      transform: scale(1.2, 1.2);
      color: #eee; }
    .card__icon:active, .card__icon:focus {
      transform: scale(0.98, 0.98); }
  .card__btn {
    padding: 0.3rem 0.6rem;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    top: 2rem;
    display: inline-block; }
    .card__btn:hover {
      color: #ffffff; }
  @media (max-width: 75em) {
    .card {
      height: 26rem;
      align-items: center;
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      width: 60rem !important; }
      .card__side {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100% !important;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        background-size: cover;
        border-radius: 0; }
        .card__side--front {
          background-color: #ffffff;
          width: 65% !important; }
          .card__side--front--axe {
            border: 1rem solid #a1b1c2; }
          .card__side--front--white {
            border: 1rem solid #edd65f; }
          .card__side--front--duke {
            border: 1rem solid #a1b1c2; }
          .card__side--front--swan {
            border: 1rem solid #edd65f; }
        .card__side--back {
          transform: rotateY(0);
          height: 80%;
          width: 100%; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__picture {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
        justify-self: center;
        margin: 0 auto !important;
        padding: 0 !important;
        height: 15rem;
        width: 15rem; }
        .card__picture--axe {
          background-image: url(../img/axe_logo.png); }
        .card__picture--white {
          background-image: url(../img/wh_logo.png); }
        .card__picture--duke {
          background-image: url(../img/duke_logo.png); }
        .card__picture--swan {
          background-image: url(../img/swan_logo.png); } }
  @media (max-width: 37.5em) {
    .card {
      width: 50rem !important; } }

.feed {
  padding-bottom: 10rem;
  width: 100%;
  height: 100%; }

#pixlee_container {
  width: 100%;
  height: 60rem !important;
  overflow-y: scroll;
  overflow-x: hidden; }
